<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kdts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rwgd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tsgd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1FB1BE1A67631500FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1FB1D71A67631500FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1FB1EB1A67636300FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1FB2031A67636300FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1FB2151A67636E00FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1FB22D1A67636E00FE940A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
